.app__mainContainer {
  background-color: #111;
}

.navBar {
  background-color: transparent;
}

.navBlack {
  background-color: #111;
}

// Banner ////////

.banner {
  color: #fff;
}

.bannerTitle {
  color: rgba(255, 255, 255, 0.95);
}

.bannerBtn {
  color: rgba(255, 255, 255, 0.95);
  background-color: rgba($color: #000000, $alpha: 0.35);

  &:hover {
    background-color: #e50914;
    color: #fff;
  }
}

.bannerDescription {
  color: rgba(255, 255, 255, 0.9);
}

// Row ////

.rowTitle {
  color: rgba(255, 255, 255, 0.91);
}
